log/*
cmd/bin/*
*.sql.gz
*.csv
*.xls
*.xlsx
*.bak
web/static/uploaded/*
!.gitkeep
web/static/js/node_modules/
web/static/js/dist/
configs/certs/*
configs/config.production.yml
*.ivf
*.webm
*.ogg
*.ts
*.m3u8
*.mp4
*.sdp
docker/
