{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col-sm-12 header">
      <div class="qiu color-1 pos-1"></div>
      <div class="qiu color-2 pos-2"></div>
      <div class="qiu color-3 pos-3"></div>
      <div class="nav">
        <h1 class="logo">Livelook</h1>
      </div>
      <div class="banner">
        <div class="video-wrap"></div>
        <div class="banner-right">
          <h2 class="main-title">Мы объединяем таланты</h2>
          <p class="main-subtitle">
            Наша миссия - создать совершенно новое глобальное сообщество талантов.
            Прояви себя и заведи сотни фанатов. Присоединяйся к нам!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}

{{define "javascripts"}}
{{end}}

